@use '../abstracts/colors' as clr;
@use '../abstracts/mixins' as *;

.footer {
  color: clr.$white;
  background-color: clr.$bitcoin-orange;
  padding: 40px 58px;
  display: grid;
  gap: 52px;
  grid-template-columns: 1fr 0.85fr;

  &__links-container {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 1.4rem;

    a:not(:last-child) {
      margin-bottom: 8px;
    }
  }
  &__copyright {
    color: clr.$soft-orange;
    @include centered;

    img {
      transform: scaleX(-1);
      margin-bottom: 10px;
    }
  }
}
