$bitcoin-orange: #f7931a;
$soft-orange: #ffe9d5;
$secondary-500: #1a9af7;
$secondary-200: #e7f5ff;
$warm-dark: #201e1c;
$dark: #282623;
$gray: #bababa;
$dark-gray: #757575;
$light: #faf8f7;
$white: #ffff;
