@mixin centered {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@mixin titles {
  width: 90%;
  min-width: 288px;
  max-width: 900px;

  > h1,
  > h2 {
    font-weight: bold;
    line-height: 2.6rem;
    font-size: 2.4rem;
  }
  > p {
    margin-top: 24px;
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.4rem;
  }
}
