// FONT
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

// THEME COLORS
$bitcoin-orange: #F7931A;
$light-orange: #FFE9D5;
$secondary-500: #1A9AF7;
$secondary-200: #e7f5ff;
$warm-dark: #201E1C;
$dark: #282623;
$gray: #bababa;
$light: #FAF8F7;
$white: #ffff;